@{
    ViewBag.Title = "Login";
}

@using(Html.BeginForm()) {

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
        </div>
        <div class="editor-field">
            <input type="password" name="password" />
        </div>

        <p>
            <input type="submit" value="Login" />
        </p>

    </fieldset>

}
