@model Attendance.Web.Models.Clock.CurrentEmployeesViewModel

<h2>Logged In</h2>
<table>
@foreach (var employee in Model.Employees)
{
    <tr>
        <td>@employee.FirstName</td>
        <td>@employee.LastName</td>
        <td><a href="#" data-id="@employee.SerialNumber" class="sign-out-link">Sign Out</a></td>
    </tr>
}
</table>