@model Attendance.Web.Models.Employee.EmployeeIndexModel

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

@Html.ActionLink("Create", "Create", "Employee")

<ul>
@foreach (var employee in Model.Employees)
{
    <li>@employee.FirstName @employee.LastName @employee.SerialNumber</li>
}
</ul>